# Workflow rules to prevent duplicate pipelines:
# - Use MR pipeline when a merge request exists
# - Use branch pipeline otherwise
# This ensures only one pipeline runs per commit
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH

variables:
  BUILD_DIR: build
  R_PROFILE_USER: "$CI_PROJECT_DIR/ci_scripts/Rprofile.ci"

stages:
    - build
    - test
    - test_with_cpblib

before_script:
    # Copy the .Renviron file to the testthat directory,
    # this makes it possible to manually run the test job as gitlab
    # runner in case of problems:
    - Rscript -e "print(.libPaths())"

build-job:
  stage: build
  script:
    # The package is build and tested using a the local packages of gitlab-runner.
    - mkdir -p ~/R/zoemlib
    #- Rscript -e "remotes::install_url('https://github.com/timemod/isismdl/archive/refs/heads/master.tar.gz', subdir = 'pkg', dependencies = FALSE, lib = '~/R/zoemlib')"
    - Rscript ci_scripts/prepare_local_lib.R
    - R CMD build pkg 
    - mkdir $BUILD_DIR
    - mv *.tar.gz $BUILD_DIR
  artifacts:
    paths:
      - build

Test package in cpblib:
  stage: test_with_cpblib
  variables:
    USE_STANDARD_LIB: "true"
  script:
    - Rscript -e "Sys.getenv('R_PROFILE_USER')"
    - Rscript -e "Sys.getenv('USE_STANDARD_LIB')"
    - Rscript test.R
  rules:
    # Sometimes this check should be skipped (when Mimosigereedschap
    # needs versions of packages not in cpblib)
    - if: '$test_within_cpblib == "skip"'
      when: never
    - when: on_success

